<!DOCTYPE html>
<html lang="zh-CN" data-navigation-type="combo" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="RunningActivity.styles.css" />
    <script src="assets/js/simplebar.min.js"></script>
    <script src="assets/js/config.js"></script>
    <link href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="assets/css/simplebar.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/anchor.min.js"></script>
    <script src="assets/js/is.min.js"></script>
    <script src="assets/js/all.min.js"></script>
    <script src="assets/js/lodash.min.js"></script>
    <script src="assets/js/list.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/dayjs.min.js"></script>
    <script src="assets/js/phoenix.js"></script>
</body>

</html>
